<h1>Order and menu files</h1>

<ul>
    <li>
        <a href="{{ path('ens_download_4_menu') }}">
            Download menu files (4 floor)
        </a>
    </li>
</ul>
<ul>
    <li>
        <a href="{{ path('ens_download_5_menu') }}">
            Download menu files (5 floor)
        </a>
    </li>
</ul>
<ul>
    <li>
        <a href="{{ path('ens_download_4_order') }}">
            Download order files (4 floor)
        </a>
    </li>
</ul>
<ul>
    <li>
        <a href="{{ path('ens_download_5_order') }}">
            Download order files (5 floor)
        </a>
    </li>
</ul>