{% extends '::base.html.twig' %}
{% block body %}
    <h2>Order and menu files</h2>

    {% for fileName in fileNames %}
        <ul>
            <li>
                <a href="{{ path('ens_download', { 'name':  fileName  } )}}">
                    Download files ( {{ fileName }} )
                </a>
            </li>
        </ul>
    {% endfor %}
{% endblock %}