{% extends '::base.html.twig' %}
{% block body %}
    <h2>Order and menu files</h2>

    <h4>Menu files</h4>
    {% for fileName in fileNames %}
        <ul>
            <li>
                <a href="{{ path('ens_download', { 'name':  fileName  } )}}">
                    Download files ( {{ fileName }} )
                </a>
            </li>
        </ul>
    {% endfor %}

    {#<a href="{{ path('ens_lunch_send_email') }}">#}
    {#Send E-mail#}
    {#</a>#}
{% endblock %}