{% extends '::base.html.twig' %}

{% block body -%}
    <h2>Lunch list</h2>
    <table class="records_list">
        <thead>
        <tr>
            <th></th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
        </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category }}</td>
                    {% for day in days %}
                        <td>
                            <label>
                                {% for lunch in lunches %}
                                    {% for join in joins %}
                                        {% if ((join.idLunch == lunch.id) and (lunch.day  ==  day ) and (lunch.categories  ==  category)) %}
                                            {{ lunch.description }}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </label>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
