{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lunch list</h1>
    <table class="records_list">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
        </tr>
        </thead>
        <tbody>

        {#<form action="{{ path('ens_lunch_create') }}" method="post">#}
            {% for category in categories %}
                <tr>
                    <td> user </td>
                    <td>{{ category }}</td>
                    {% for day in days %}
                        <td>
                            <label>
                                    {% for entity in entities %}
                                        {% if ((entity.day  ==  day ) and (entity.categories  ==  category ) ) %}
                                            {{ entity.count }}
                                        {% endif %}
                                    {% endfor %}
                            </label>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>
                <td>
                    <input type="submit" value="Save">
                </td>
            </tr>

        {#</form>#}
        </tbody>
    </table>
{% endblock %}
